/*Sadık Turan hocama teşekkürler*/
/* .navbar {
    background: slategray;
} */
/* .bg-dark {
    background:  slategray;
} */
.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
@media (min-width: 768px) {
    .card-img-top {
        height: 32vh;
    }
}
#slate {
    background: slategray;
}